$maxWidth: 1650;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
body *{
	margin: 0;
	padding: 0;
}
//************ BODY ****************************************************
body{
	max-width: 1650px;
	margin: 0 auto; 
	padding: 0;
		div.wrapper{
			footer{
				padding: 0 10px;
			}
			main{
				padding: 10px 10px 20px 10px;
			}
		}
}
//************ HEADER ****************************************************
header{
	background-image: url("img/leaf1650.jpg");
	background-position: 0 0;
	background-origin: padding-box;
		h1{
			color: #000;
			text-shadow: 2px 2px 5px #fff;
			@include adaptiv-font(42, 28); 
			letter-spacing: 0.5em;
			text-align: center;
			font-family: 'Metal Mania', Georgia, 'Times New Roman', Times, serif;
		}
		h2{
			@include adaptiv-font(30, 18); 
			letter-spacing: 0.1em;
			text-align: center;
			color: #000;
			text-shadow: 2px 2px 5px #fff;
			font-family: Georgia, 'Times New Roman', Times, serif;
		}
	}
.menu ul,.menu ol{
	list-style: none;
	padding: 0;
}
.menu>ul{
	display: flex;
	flex-wrap:no-wrap;
	justify-content: flex-start;
	background-color: rgba(255,255,255,0.3);
		li{
			border-right: 1px solid #fff;
		}
}
.menu>ul li a{
	box-sizing:border-box;
	text-align: center;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	display: block;
	transition: all 0.4s ease;
	padding: 5px 15px 5px 15px;
	min-width: 70px;
}
.menu>ul li a:hover{
	color: #fff;
	text-shadow: 2px 2px 6px #FFFFFF;
	transition: all 0.3s ease;
}
.menu ul li:hover{
	background-color: #296419;
}

.menu>ul li ul li{
	background-color: rgba(150,230,138, 0.85);
	border-bottom: 1px solid #fff;
	text-shadow: 2px 2px 6px #FFFFFF;
}
.menu>ul li ul li:hover{
	background-color: rgba(170,250,20, 1);
}
.menu>ul li ul li:last-child{
	border-bottom: none;
}
.menu li ul{
	min-width: 130px;
	position: absolute;
	display: none;
}
.menu li{
	position: relative;
}
.menu>ul li:hover>ul{
	display: block;
	position: absolute;	
}
.menu>ul li ul li ul{
	position: absolute;
	top: 0;
	right: -131px;
	border-left: 1px solid #fff;
	z-index: 4;
}
.menu>ul li ul li ul li{
	background-color: rgba(190,250,110, 0.85);
}
.menu>ul li ul li ul li ul{
	right: 130px;
	z-index: 5;
}
.menu>ul li ul li ul li ul li{
	background-color: rgba(220,250,0, 0.85);
}

//************ MAIN ******************************************************
main{
		p{
			padding-bottom: 7px;
		 	@include adaptiv-font(20, 14);
		 	text-indent: 20px;
	}
}
main>p:first-letter{
	font-size: 1.2em;
	color: #188812;
	font-weight: bolder;
	text-shadow: 1px 1px 3px #030303;
}


//************ FOOTER ****************************************************



//************* MEDIA ****************************************************

/////////////////////////
@media (min-width: 480px){
	header{
		max-height: 166px;
		background-image: url("img/leaf800.jpg");
	}
}
/////////////////////////
@media (min-width: 800px){
	header{
		max-height: 213px;
		background-image: url("img/leaf1024.jpg");
	}
}
/////////////////////////
@media (min-width: 1024px){
	header{
		max-height: 250px;
		background-image: url("img/leaf1200.jpg");
	}
}
/////////////////////////
@media (min-width: 1200px){
	header{
		max-height: 344px;
		background-image: url("img/leaf1650.jpg");
		h1{
			font-size: 42px;
		}
		h2{
			font-size: 30px;
	}
}
	p{
		font-size: 20px;
		}
	}







