body * {
  margin: 0;
  padding: 0; }

body {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0; }
  body div.wrapper footer {
    padding: 0 10px; }
  body div.wrapper main {
    padding: 10px 10px 20px 15px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 110px;
  position: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("img/leaf1650.jpg");
  background-position: 0 0;
  background-origin: padding-box; }
  header h1 {
    color: #000;
    text-shadow: 2px 2px 5px #fff;
    font-size: 30px;
    letter-spacing: 0.5em;
    text-align: center;
    font-family: 'Metal Mania', Georgia, 'Times New Roman', Times, serif; }
  header h2 {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #000;
    text-shadow: 2px 2px 5px #fff;
    font-family: Georgia, 'Times New Roman', Times, serif; }

.menu ul, .menu ol {
  list-style: none;
  padding: 0; }

.menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.3); }
  .menu > ul li {
    border-right: 2px solid #fff; }

.menu > ul > li:first-child {
  border-left: 15px solid #fff; }

.menu > ul li a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  display: block;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 5px 15px 5px 15px;
  min-width: 70px; }

.menu > ul li a:hover {
  color: #fff;
  text-shadow: 2px 2px 6px #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.menu ul li:hover {
  background-color: #296419; }

.menu > ul li ul li {
  background-color: rgba(150, 230, 138, 0.85);
  border-bottom: 1px solid #fff;
  text-shadow: 2px 2px 6px #FFFFFF; }

.menu > ul li ul li:hover {
  background-color: #aafa14; }

.menu > ul li ul li:last-child {
  border-bottom: none; }

.menu li ul {
  min-width: 130px;
  position: absolute;
  display: none; }

.menu li {
  position: relative; }

.menu > ul li:hover > ul {
  display: block;
  position: absolute; }

.menu > ul li ul li ul {
  position: absolute;
  top: 0;
  right: -131px;
  border-left: 1px solid #fff;
  z-index: 4; }

.menu > ul li ul li ul li {
  background-color: rgba(190, 250, 110, 0.85); }

.menu > ul li ul li ul li ul {
  right: 130px;
  z-index: 5; }

.menu > ul li ul li ul li ul li {
  background-color: rgba(220, 250, 0, 0.85); }

main {
  background-image: url("img/wallpapers-textures.jpg"); }
  main p {
    padding-bottom: 7px;
    font-size: calc(12px + 8 * ((100vw - 320px) / 1330));
    text-indent: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; }

div.opt {
  margin-top: 7em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px; }

main > div > p:first-letter {
  font-size: 2em;
  color: #000000;
  font-weight: bolder;
  text-shadow: 1px 1px 3px #000000; }

/* @media (min-width: 480px){
	header{
		background-image: url("img/leaf800.jpg");
	}
}
/////////////////////////
@media (min-width: 800px){
	header{
		div.menu>ul{
			margin-top: 24px;
		}
		background-image: url("img/leaf1024.jpg");
	}
}
/////////////////////////
@media (min-width: 1024px){
	header{
		div.menu>ul{
			margin-top: 24px;
		}
		background-image: url("img/leaf1200.jpg");
	}
} */
@media (min-width: 1200px) {
  p {
    font-size: 20px; } }

@media (min-width: 1667px) {
  p {
    font-size: 20px; }
  .menu > ul > li:first-child {
    border-left: 15px solid #000; }
  .menu > ul li {
    border-right: 2px solid #000; } }
