
$maxWidth: 1400;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 480;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 480px) / #{$maxWidth}));
}
body *{
	margin: 0;
	padding: 0;
	max-width: 1650px;
}
//************ BODY ****************************************************
body{
	background-color: #000;
	min-width: 480px;
	max-width: 1650px;
	margin: 0 auto; 
	padding: 0;
		div.wrapper{
			footer{
				padding: 0 0px;

			}
			main{
				padding: 10px 15px 20px 15px;
			}
		}
}
//************ HEADER ****************************************************
header{
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 110px;
	position: fixed;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("img/leaf1650.jpg");
	background-position: 0 0;
	background-origin: padding-box;
		h1{
			color: #000;
			text-shadow: 2px 2px 5px #fff;
			font-size: 22px;
			letter-spacing: 0.5em;
			margin-left: 10%;
			font-family: 'Metal Mania', Georgia, 'Times New Roman', Times, serif;
		}
		h2{
			font-size: 18px;
			letter-spacing: 0.1em;
			margin-left: 15%;
			color: #000;
			text-shadow: 2px 2px 5px #fff;
			font-family: Georgia, 'Times New Roman', Times, serif;
		}
	}
.menu ul,.menu ol{
	list-style: none;
	padding: 0;
}
.menu>ul{
	display: flex;
	flex-wrap:no-wrap;
	justify-content: flex-start;
	background-color: rgba(255,255,255,0.3);
		li{
			transition: all 0.3s ease;
			width: 90px;
			border-right: 2px solid  rgba(255,255,255,0.6);
		}
}
.menu>ul a img.cart{
	position: absolute;
	right: 18px;
	top: 65px;
	width: 40px;
}
.menu>ul>li:first-child{
	border-left: 15px solid  rgba(255,255,255,0.3);
}
.menu>ul li>ul li a{
	font-size: 0.8em;
}
.menu>ul li a{
	letter-spacing: 0.2em;
	box-sizing:border-box;
	text-align: center;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	display: block;
	transition: all 0.2s ease;
	padding: 5px 15px 5px 15px;
	min-width: 70px;
}
.menu>ul li a:hover{
	
	
	transition: all 0.2s ease;
}
.menu ul li:hover{
	transition: all 0.3s ease;
	background-color: rgba(255,255,255,0.3);
}

.menu>ul li ul li{
	background-color: rgba(150,230,138, 0.85);
	border-bottom: 1px solid #fff;
	text-shadow: 2px 2px 6px #FFFFFF;
}
.menu>ul li ul li:hover{
	background-color: rgba(150,150,10, 1);
	cursor: pointer;
}
.menu>ul li ul li:last-child{
	border-bottom: none;
}
.menu li ul{
	min-width: 130px;
	position: absolute;
	display: none;
}
.menu li{
	position: relative;
}
.menu>ul li:hover>ul{
	display: block;
	position: absolute;	
}
.menu>ul li ul li ul{
	position: absolute;
	top: 0;
	right: -132px;
	border-left: 1px solid #fff;
	z-index: 4;
}
.menu>ul li ul li ul li{
	background-color: rgba(190,250,110, 0.85);
	z-index: 3;
}

.menu>ul li ul li ul li ul{
	right: 52px;
	z-index: 5;
}
.menu>ul li ul li ul li ul li{
	background-color: rgba(220,250,0, 1);
}


//************ MAIN ******************************************************
main{ 
	min-height: 100vh;
		img{
			max-width: 100%;
			height: auto;
			box-shadow: 0 0 6px 5px #363434;
		}
		background-image: url("img/wallpapers-textures.jpg");
		background-size: cover;
		background-repeat: repeat;
		p{
			padding-bottom: 7px;
		 	@include adaptiv-font(18, 14);
		 	text-indent: 20px;
		 	font-family: 'Poppins', sans-serif;
		 	font-weight: bold;
		 }
		 ul{
		 	li{
		 		list-style-position: inside;
		 		@include adaptiv-font(19, 15);
		 	}
		 }
		 blockquote{
		 	@include adaptiv-font(18, 14);
		 	background-color: rgba(255,255,255,0.3);
		 }
}
div.opt{
position: relative;
	margin-top: 7em;
	margin-bottom: 2.9em;
	background-color: rgba(255,255,255,0.5);
	padding: 12px;
}
main>div>p:first-letter{
	font-size: 2em;
	color:#000000;
	font-weight: bolder;
	text-shadow: 1px 1px 3px #000000;
}
img.btw_text_left{
	width: 140px;
	float: left;
	margin: 10px 10px 10px 20px;
	border: 1px dashed #3AC827;
}
img.btw_text_right{
	width: 140px;
	float: right;
	margin: 10px 20px 10px 10px;
	border: 1px dashed #3AC827;
}
img.mainimg{
	padding: 2px;
	background-color: #fff;
}



//************ FOOTER ****************************************************
footer{
	margin: 0;
	padding: 0;
}
footer{
	background-image: url("img/leaf480.jpg");	
	background-repeat: repeat-x;
	max-width: 1650px;
	margin: 0 auto;
	width: 100%;
	height: 55px;
	position: fixed;
	bottom: 0px;
}
div.footerlist{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
}
.footerlist>ul{
	display: flex;
	padding-top: 10px;
}
.footerlist>ul li{
	border-right: 1px solid #fff;
	list-style: none;
	width: 110px;
}
.footerlist>ul li:first-child{
	border-left: 1px solid #fff;
}
.footerlist>ul li a{
	letter-spacing: 0.1em;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 12px;
	transition: all 0.3s ease;
}
.footerlist>ul li a:hover{
	background-color: rgba(255,255,255,0.3);
	transition: all 0.3s ease;
}
.year p{
	color: #fff;
	font-size: 0.6em;
	letter-spacing: 0.1em;
}
div.year{
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	text-align: center;
}

//************* MEDIA ****************************************************
 @media all and(min-width: 800px){
	header{
		h1{
		font-size: 26px;
	}
		h2{
			font-size: 18px;
		}
	}
	.menu>ul a img.cart{
	right: 18px;
	top: 60px;
	width: 45px;
}
	.footerlist>ul li a{
		font-size: 12px;
		padding: 5px 20px 5px 20px;

	}
	.footerlist>ul li{
		width: 160px;
	}
	img.btw_text_left, img.btw_text_right{
		min-width: 200px;
	}
	}

@media all and(min-width: 1200px){
	header{
		h1{
		font-size: 28px;
	}
		h2{
			font-size: 20px;
		}
	}
		.menu>ul a img.cart{
	right: 18px;
	top: 55px;
	width: 50px;
}
		.footerlist>ul li a{
		font-size: 12px;
		padding: 5px 20px 5px 20px;

	}
	.footerlist>ul li{
		width: 160px;
	}
	img.btw_text_left, img.btw_text_right{
		min-width: 220px;
	}
	}

@media all and(min-width: 1400px){
	main{ 
		p{
		font-size: 19px;
	}
	blockquote{
				font-size: 20px;
	}
	ul li{
		font-size: 20px;
	}

}
.menu>ul a img.cart{
	position: absolute;
	right: 18px;
	top: 45px;
	width: 64px;
}
div.footerlist{
	ul li a{
		font-size: 14px;
	}
}
div.year{
	p{
		letter-spacing: 0.2em;
	}
}
	header{
		h1{
		font-size: 32px;
	}
		h2{
			font-size: 22px;
		}
	}
		.footerlist>ul li a{
		font-size: 12px;
		padding: 5px 20px 5px 20px;

	}
	.footerlist>ul li{
		width: 160px;
	}
	img.btw_text_left, img.btw_text_right{
		min-width: 250px;
	}
}

.hid{
	display: none;
}
 .show{
 	
 	width: 420px; 
 	height: 200px;
	display: block;
	p{
		@include adaptiv-font(14, 12);
		padding-top: 30px;
		letter-spacing: 0.1em;
		text-shadow: 0 0 8px #000;
	}
	p:first-letter{
		@include adaptiv-font(18, 14);
	}
	position: absolute;
	top: 10px;
	right: 15px;
	background-color: #D9FFE2;
	border: 3px solid green;
	text-align: center;
} 
div.part{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid green;
	text-align: center;
	font-weight: bolder;
	@include adaptiv-font(15, 12);
	position: absolute;
	right: -10px;
	top: -10px;
}
div.part:hover{
	cursor: pointer;
}


